<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>First Flights</title>
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
    </div>

    <img class="logo" src="/static/planelogo.jpg" height="100" , width="100" />

    <div class="title">FIRST FLIGHTS</div>

    <div class="question"><p>Where would you like to fly?</p></div>

    <div>
      <form method="POST">
        <input class="box" type="text" name="userQuery" id="userQuery" />
        <button type="submit">Search Flights</button>
      </form>
    </div>

    <div class="container"></div>
  </body>
</html>
